:root {/* RAIZ DO DOCUMENTO, AJUDA A MODIFICARMOS APENAS UMA VEZ AS CORES DE ELEMENTOS QUE DEVEM SER IGUAIS, COMO SE FOSSE UM ATALHO PARA ESSA COR*/
    --title-color: #322153; /*NOS ELEMENTOS UTILIZAR COLOR: VAR(--TITLE-COLOR)*/
    --primary-color: #34cb79;
}

* { /* SELETOR DE TUDO*, COMPORTAMENTO PADRÃO PARA TODOS OS ELEMENTOS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* GARANTE QUE O PADDING NÃO VAI SER SOMADO À MARGEM, E SIM POR DENTRO DA BORDA*/
}

html {
font-family: 'Roboto', sans-serif;/*ACESSANDO A FONTE ROBOTO DO GOOGLE*/
}

body {
    background: #f0f0f5;
    -webkit-font-smothing: antialiased; /* CONFIGURAÇÃO PARA WEB QUE DEIXA A APARENCIA DAS FONTES MAIS AGRADÁVEL*/
}

a {
    text-decoration: none; /* RETIRAR DE TODOS OS LINKS A LINHA ABAIXO*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

