
/* MEDIA É UM CONJUNTO DE REGRAS ESPECIFICAS PARA RESPONSIVIDADE*/

@media (max-width: 900px) { /* REGRAS PRA QUANDO A TELA FOR 900PX*/
    #page-home{
        background-position-x: 70vw;/* QUANDO A TELA DIMINUIR PARA 900PX A FIGURA SOME DA TELA NÃO ENCAVALANDO OS ELEMENTOS*/
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }
    
    #page-home header a { 
        position: absolute;
        bottom: 48px;

        left: 50%; /* CENTRALIZA NA TELA 900PX*/
        transform: translateX(-50%); /* ALINHA O OBJETO NA TELA CONSIDERANDO SEU TAMANHO ATUAL*/
    }
    #page-home main{
        align-items: center;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }
    #page-search-results .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}
/* PARA VERIFICAR RESPONSIVIDADE NO NAVEGADOR, CLICAR EM TOGLE*/
@media (min-width: 1440px) { /* REGRA PARA QUANDO A IMAGEM DE FUNDO COMEÇA A SOBREPOR A ESCRITA DA ESQUERDA*/
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) { /* PEGA DE 0 A 760PX PARA CALCULAR O EFEITO DO BACKGROUND, A PARTIR DE 760PX SE MOVE CONFORME POSICIONAMENTO JÁ DEFINIDO*/ 
    #page-home {
        background-position-y: 200px;
    }
}