body{
    background-color: white;
}
body::after{ /*PSEUDO ELEMENTO PARA UM OBJETO APÓS O BODY*/
    content: ""; /* VAZIO POIS NÃO PRECISAMOS DO CONTÉUDO, APENAS COR*/
    position: absolute; /*POSIÇÃO FIXA PARA QUE FIQUE SEMPRE COMEÇANDO DO 0 DA PÁGINA*/
    background: #f0f0f5;
    top: 0px;/*PARTIR DO TOP 260X INICIA O PREENCHIMENTO DO OBJETO*/
    right: 0; /*PARA PREENCHER TUDO ATÉ A DIREITA*/
    left: 0; /*PARA PREENHCER TUDO ATÉ A ESQUERDA*/
    bottom: 0; /*PARA PREENCHER TUDO ATÉ EMBAIXO*/
    height: 16rem; /*root element*/
    z-index: -1; /* PARA SE POSICIONAR ABAIXO DE TODOS OS OBJETOS, COMO SE FOSSE A FOLHA POR TRAS*/
}

#page-search-results{
    width: 90%;
    max-width: 1100px;

    margin: 0 auto; /*ESPAÇAMENTO LATERAL AUTOMÁTICO*/

}

#page-search-results header {
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-search-results header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-search-results header a span {
    margin-right: 16px ;
    background-image: url('../assets/arrow-left.svg'); /* SOMENTE ESSA ATRIBUIÇÃO NÃO DISPONOBILIZA O ÍCONE, É NECESSÁRIO O TAMANHO E O DISPLAY*/
    display: flex;
    width: 20px;
    height: 24px;
}


main{
    margin-top: 48px;
    margin-bottom: 48px;
    
}

main h4 {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    margin-bottom: 32px;
}

main img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .card h1 {
    font-size: 36px;
    line-height: 41px;
    color: #322153;
    margin-top: 32px;
    margin-bottom: 24px;
}

main .card h3 {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 34px;
    color: #34c879;
    margin: 24px 0;
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
}